body{
    padding: 10px;
    border: center;
}
table{
    border-collapse: collapse;
   margin: 0;
}
/*border */
td{
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    border: 1px solid rgb(232 127 86 / 45%);
}
.game{
    color: rgb(133, 87, 133);
    box-sizing: border-box;
    height: 30px;
    top: 10px;

}
.blue{
    color: olivedrab;
}